<h1>Editar héroe</h1>

<ng-content select="[tittle]"></ng-content>

<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">
  <form [formGroup]="form" (ngSubmit)="save(form.value)">
    <div fxFlex="50">
      <mat-form-field>
        <mat-label>Superhéroe</mat-label>
        <input matInput type="text" formControlName="superhero" />

      </mat-form-field>
      <mat-form-field>
        <mat-label>Alter ego</mat-label>
        <input matInput type="text" formControlName="alter_ego" />

      </mat-form-field>

      <mat-form-field>
        <mat-label>Primera aparición</mat-label>
        <input matInput type="text" formControlName="first_appearance" />

      </mat-form-field>

      <div fxLayout="row" fxLayout.xs="column">
        <mat-form-field>
          <mat-label>Personaje</mat-label>
          <input matInput type="text" formControlName="characters" />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.xs="column">
        <mat-form-field>
          <mat-label>Creador</mat-label>
          <mat-select formControlName="publisher" ngDefaultControl>
            <mat-option
              *ngFor="let publish of publisher"
              [value]="publish.id"
              >{{ publish.id }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.xs="column">
        <button
          class="btn btn-primary p-2 button-save mt-4"
          mat-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
        >
          <mat-icon>edit</mat-icon>
          {{ data === null ? "Crear" : "Editar" }}
        </button>
      </div>
    </div>
    <div fxFlex="50" fxLayout.xs="column">
      <label>
        <span>Seleccionar Imagen</span>
        <input
          #imageInput
          mat-file
          type="file"
          accept="image/*"
          (change)="processFile(imageInput)"
        />
      </label>

      <ng-container>
        <img
        appImageNotFound
        mat-card-image
        [src]="data.image"
        height="200"
        width="200"
      />
      </ng-container>
    </div>
  </form>
</div>
