
<div class="container">

  <div class="alert alert-light" role="alert">
    In this technical test, reactive programming has been implemented with the Observer pattern for the simplicity of the code, better maintenance and making use of the best practices recommended by the developers of the Angular framework.

  Lazy loading has also been used to improve the efficiency of the website and make the user experience as fluid as possible.

  Pipes have been used to format the columns, an interceptor for API calls and the corresponding GUARDS to guarantee the security of the application.

  The application has not been finished due to lack of time, but the component could be improved by making it more scalable.
  </div>
</div>
